.body{
    margin: 0;
    padding: 0;
    background-color: #9bd1e5;
    font-style: sans-serif;
}

/** ----- HEADER ----- **/ 

header{
    height: auto;
}

header .entete{
    height: 150px;
    background-image: url(ressources_graphiques/PHOTOS/glace.png);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:space-between;
    color: #133949;
}

header div img{
    margin: 5px;
    width : 200px;
}


header div p{
    font-size: 300%;
    margin: 10px;
    text-align: right;
} 

header nav{
    margin: 30px 50px;
    width: 70%;
    margin: 50px auto ;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    flex-shrink: initial;
}

header nav ul .hr{
    background-color: #045858;
    width: 5px;
    border: none;
    border-radius:5px ;
    margin: 10px;
}

header nav ul a li{
    background-color: #045858;
    list-style: none;
    padding: 20px 50px;
    border-radius: 15px;
    font-size : 40px;
}

header nav ul a {
    color: #FFF2E0;
    text-decoration: none;
    
}

header nav ul a :hover{
    background-color: #FFF2E0;
    color: #045858;
    
}

/** ---- CAROUSEL ----**/
.texte{
    color:#FFF2E0;
    margin-left: 50px;
}

/** ---- ARTICLE ICONE ---- **/ 
.arti_icone{
    display: flex; 
    justify-content:center;
    background-color: #133949;
    color: white;
    align-items:flex-end;
    margin: 15px;
}


figure{
    justify-content:center;
    text-align: center;
    margin: 50px;
    
}

img{
    flex-wrap: wrap;
    width:100px;
}

figcaption{
    font-size: 2em;
}

/** ---- ARTICLE PRODUIT ---- **/
.img_art_prod{
    margin : 50px;
    width: 350px;
    height : 500px;
}

.txt_art_prod{
    width: 50%;
    margin : 0 5px;
}

.article_prod{
    display: flex; 
    flex-direction: row;
    justify-content:flex-start;
    background-color: #133949;
    color: white;
    align-items:center;
    margin: 15px 125px;
    height : auto;
    border-radius: 1em;
}


/** charte graphique, démonstration(responsive/interactivité) , 12 min 
support visuel a deposer sur teams */


/** ----- CARTE ----- **/ 

.carte{
    width: 80%;
    margin: auto;
}

.carte hr{
    background-color: #133949;
    height: 10px;
    border:none ;
    width: 90%;
    margin:50px  auto;
    
}

.carte iframe{
    width: 100%;
    height: 500px;
}


/** ----- FOOTER ----- **/ 

footer{
    margin: 50px 0 0 0;
    height: 50px;
    background-color: #045858;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
footer p{
    font-size: 25px;
    color: #FFF2E0;
}

footer p a{
    color: #FFF2E0;
    text-decoration: none;
}

footer p a:hover{
    color: #FFF2E0;
}

/** ----- LOGO RESEAU ----- **/ 

.reseau{
    position: fixed;
    right: 0;
    top: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    
    
}

.reseau img{
    height: 50px;
    width: 50px;
    margin: 5px;
}

div > div > div{
    color: #045858;
}