.body{
    margin: 0;
    padding: 0;
    background-color: #9bd1e5;
    font-style: sans-serif;
    scroll-behavior: smooth;
}

/** ----- HEADER ----- **/ 

header{
    height: auto;
}

header .entete{
    height: 150px;
    background-image: url(ressources_graphiques/PHOTOS/glace.png);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:space-between;
    color: #133949;
}

header div img{
    margin: 5px;
    width : 200px;
}


header div p{
    font-size: 300%;
    margin: 10px;
    text-align: right;
} 

header nav{
    width: 70%;
    margin: 50px auto ;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    flex-shrink: initial;
}

header nav ul .hr{
    background-color: #045858;
    width: 5px;
    border: none;
    border-radius:5px ;
    margin: 2px;
}

header nav ul a li{
    background-color: #045858;
    list-style: none;
    padding: 20px 50px;
    border-radius: 15px;
    font-size : 40px;
}

header nav ul a {
    color: #FFF2E0;
    text-decoration: none;
    
}

header nav ul a :hover{
    background-color: #FFF2E0;
    color: #045858;
    
}

/** ---- CAROUSEL ---- **/
#carousel{
    margin: 50px ;

}

/** ---- ARTICLE ICONE ---- **/ 

#art_icone{
    margin: 50px ;
    width: 80%;
    margin: auto;
}
.arti_icone{
    display: flex; 
    justify-content:space-evenly;
    background-color: #133949;
    color: white;
    align-items:flex-end;

}


figure{
    justify-content:center;
    text-align: center;
    width: 40%;
    padding: 10px;
    
}

img{
    flex-wrap: wrap;
    width:100px;
}

figcaption{
    font-size: 2em;
}

/** ---- INFO COMPLEMENTAIRE ---- **/

#info_comp{
    margin: 50px auto;
    width: 80%;
    display: flex; 
    justify-content:space-evenly;
    background-color: #133949;
    color: white;
    align-items:center;
    
}

#info_comp article{
    text-align: center;
    width: 40%;
    padding: 10px;
}

#info_comp article p{
    font-size: 1.8em;
}

/** ---- ARTICLE PRODUIT ---- **/
.img_art_prod{
    margin : 50px;
    width: 350px;
    height : 500px;
}

.txt_art_prod{
    width: 50%;
    margin : 0 5px;
}

.article_prod{
    display: flex; 
    flex-direction: row;
    justify-content:flex-start;
    background-color: #133949;
    color: white;
    align-items:center;
    margin: 15px 125px;
    height : auto;
    border-radius: 1em;
}



/** charte graphique, démonstration(responsive/interactivité) , 12 min 
support visuel a deposer sur teams */


/** ----- CARTE ----- **/ 

.carte{
    width: 80%;
    margin: 50px auto;
}

.carte div{
    background-color: #133949;
    border:none ;
    width: 90%;
    margin:50px  auto;
    height: 5px;
    border-radius: 5px;
    
}

.carte iframe{
    width: 100%;
    height: 500px;
}


/** ----- FOOTER ----- **/ 

footer{
    margin: 0;
    height: 50px;
    background-color: #045858;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
footer p{
    font-size: 25px;
    color: #FFF2E0;
}

footer p a{
    color: #FFF2E0;
    text-decoration: none;
}

footer p a:hover{
    color: #FFF2E0;
}

/** ----- LOGO RESEAU ----- **/ 

.reseau{
    position: fixed;
    right: 0;
    top: 30%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    
    
}

.reseau img{
    height: 50px;
    width: 50px;
    margin: 5px;
}

@media screen and (max-width: 1035px)
{
    /** ----- HEADER ----- **/ 

    header{
        height: auto;
    }

    header .entete{
        height: 110px;
    }

    header div img{
        width : 150px;
        height: 100px;
    }


    header div p{
        font-size: 200%;
    } 
    
    header nav{
        width: 70%;
        margin: 25px auto ;
    }



    header nav ul a li{
        padding: 15px 30px;
        font-size : 30px;
    }



    /** ---- ARTICLE ICONE ---- **/ 


    img{
        width:75px;
    }

    figcaption{
        font-size: 1.4em;
    }

    /** ---- INFO COMPLEMENTAIRE ---- **/

    #info_comp article p{
        font-size: 1.5em;
    }

    /** ----- CARTE ----- **/ 

    .carte iframe{
        width: 100%;
        height: 300px;
    }


    /** ---- ASIDE ---- **/ 
    .reseau img{
        height: 40px;
        width: 40px;
        margin: 3px;
    }

}

@media screen and (max-width: 630px)
{
    header .entete{
        height: 90px;
    }
    header div img{
        width : 120px;
        height: 80px;
    }
    header div p{
        font-size: 150%;
        margin: 10px;
        text-align: right;
    } 
    header nav ul a li{
        background-color: #045858;
        list-style: none;
        padding: 10px 25px;
        border-radius: 15px;
        font-size : 20px;
    }

    img{
        width:65px;
    }

    figcaption{
        font-size: 1.1em;
    }

    #info_comp article p{
        font-size: 1.3em;
    }

    .reseau img{
        height: 30px;
        width: 30px;
        margin: 3px;
    }

}

@media screen and (max-width: 500px)
{
    header div p{
        font-size: 150%;
        margin: 10px;
    } 
    header nav ul a li{
        padding: 7px 20px;
        font-size : 15px;
    }
    header nav{
        width: 80%;
        margin: 25px auto ;
    }

    img{
        width:45px;
    }
    figcaption{
        font-size: 0.9em;
    }

    #info_comp article p{
        font-size: 1em;
    }

}
